body {
    border-style: inset;
    padding-left: 10px;
    padding-top: 10px;
}

h3 {
    font-size: xx-large;
}

h3::first-letter {
    color: #ff6347;
    font-size: 1.5em;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: large;
}

header{ 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

header h1::first-letter { 
    font-size: 1.5em; 
    color: #ff6347; 
} 

header h1::after {
    content: " - Welcome!"; 
    font-size: 0.5em; 
    color: #ff6347; 
}

.preamble {
    border-bottom-style: double;
}

.explanation {
    border-bottom-style: double;
}

.participation {
    border-bottom-style: double;
}

.benefits {
    border-bottom-style: double;
}

.requirements {
    border-bottom-style: double;
}

.intro {
    text-align: center;
}

.main {
    text-align: center;
}

nav ul li a::before {
    content: "• ";
    color: #ff6347; 
} 

nav ul li a::after { 
    content: " •";
    color: #ff6347; 
}

footer {
    padding: auto;
    text-decoration: none;
    display: inline-block;
}

.wrapper {

}