body {
    background-color: #f9ecd9f4;
    border-style: inset;
    padding-left: 10px;
    padding-top: 10px;
}

h1 {
    font-size: 3em;
}
h3 {
    font-size: xx-large;
    border-bottom-style: solid;
    border-color: #f7e3cc;
}

h3::first-letter {
    color: #ff6347;
    font-size: 1.5em;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: large;
    padding-left: 200px;
    padding-right: 200px;
}

header{ 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

header h1::first-letter { 
    font-size: 1.5em; 
    color: #ff6347; 
} 

header h1::after {
    content: " - Welcome!"; 
    font-size: 0.5em; 
    color: #ff6347; 
}

.preamble {
    border-bottom-style: double;
}

.explanation {
    border-bottom-style: double;
}

.participation {
    border-bottom-style: double;
}

.benefits {
    border-bottom-style: double;
}

.requirements {
    border-bottom-style: double;
}

.intro {
    text-align: center;
}

.main {
    text-align: center;
}

a {
    color: red;
}

a:hover { 
    background-color: black;
}

nav ul li a::before {
    content: "• ";
    color: #ff6347; 
} 

nav ul li a::after { 
    content: " •";
    color: #ff6347; 
}

footer {
    font-size: larger;
    padding-top: 5px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

footer:hover {
    color: black;
}

.wrapper {

}

.design-selection {
    padding: auto;
    font-size: larger;
    float: left;
    width: 33%;
    
}

.design-archives {
    padding: auto;
    font-size: larger;
    float: left;
    width: 30%;
    
}

.zen-resources {
    padding: auto;
    font-size: larger;
    float: left;
    width: 33%;
  
}

.select {
    text-align: center;
}

.archives {
    text-align: center;
}

.resources {
    text-align: center;
}