 .preamble {
    max-width: 50%;
    float: left;
    padding-bottom: 40px;
    border-bottom-style: solid;
}

.explanation {
    max-width: 50%;
    float: right;
    padding-bottom: 20px;
    border-bottom-style: solid;
}

.participation {
    max-width: 70%;
    float: right;
}

.benefits {
    max-width: 70%;
    float: right;
}

.requirements {
    float: right;
    max-width: 70%;
}

h3 {
    text-align: center;
    font-size: x-large;
}

h1, h2 {
    font-size: 4em;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 800px;
}

h1::before {
    content: "~";
}

h1::after {
    content: "~";
}
